$light_blue: #99D3DF;
$blue: #88BBD6;
$gray: #CDCDCD;
$light_gray : #E9E9E9; 

.forma
{
    width: 100%;
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;


    .pievienotLekcijuVirsraksts
    {

        margin-bottom: 40px;
        font-style: italic;
        font-size: 50px;
        color: rgb(121, 114, 114);
        text-align: center;
    }

    .selectBox
    {
        width: 40%;
        margin-bottom: 50px;
        padding: 5px;
        height: 50px;
    
        background: $gray;
    
        font-size: 25px;
        border: none;
    
    }
}
