$light_blue: #99D3DF;
$blue: #88BBD6;
$gray: #CDCDCD;
$light_gray : #E9E9E9;

.virsraksts
{
    margin-top: 30px;
    margin-right: 200px;

    font-style: italic;
    font-size: 50px;
    color: rgb(121, 114, 114);
    text-align: center;
}

.info
{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;


    .nosaukums
    {
        display: flex;
        margin-bottom: 30px;

        font-style: bold;
        font-size: 40px;
        font-family: 'Times New Roman', Times, serif;
    }
    
    .apraksts
    {
        display: flex;
        margin-bottom: 30px;

        font-size: 25px;
        color: rgb(59, 54, 54);
    }

    .autors
    {
        display: flex;
        margin-bottom: 20px;
        margin-left: 15px;

        font-size: 23px;
        font-style: italic;
        font-family: 'Times New Roman', Times, serif;
        
    }



    .footer
    {
        display: flex;
        
        .timestamp
        {
            font-size: 30px;
        }
        
        .footerPoga
        {
            background-color: $light_gray;
            border: none;
            margin-left: 10px;
        }


        .editLink
        {
            border:none;
            padding: 10px;
            padding-left: 15px;
            padding-right: 18px;

            margin-left: 15px;
            margin-right: 15px;

            text-decoration: none;
            font-style: italic;
            font-size: 20px;
            color: white;
        

            background-color: $blue;
        }

        .editLink:hover
        {
            background-color: $light_blue;
        }
    }


}

hr
{
    border: 0;
    width: 100%;               
    background-color:$blue;
    height: 1px;
}

.loading
{
    display: flex;
    justify-content: center;
    margin: auto;
}