$light_blue: #99D3DF;
$blue: #88BBD6;
$gray: #CDCDCD;
$light_gray : #E9E9E9;

.page
{
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 100%;

    .virsrakstsDiv
    {
        display: flex;
        justify-content: center;

        .virsraksts
        {
            margin-top: 30px;
            margin-right: 200px;

            font-style: italic;
            font-size: 50px;
            color: rgb(121, 114, 114);
            text-align: center;
        }
    }


    .info
    {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        
        .nosaukums
        {
            display: flex;
            margin-bottom: 30px;

            font-style: bold;
            font-size: 40px;
            font-family: 'Times New Roman', Times, serif;
        }
        
        .apraksts
        {
            display: flex;
            margin-bottom: 30px;
            
            font-size: 25px;
            color: rgb(59, 54, 54);
        }

        .autors
        {
            display: flex;
            margin-bottom: 20px;
            margin-left: 15px;

            font-size: 23px;
            font-style: italic;
            font-family: 'Times New Roman', Times, serif;
            
        }

        .datums
        {
            display: flex;
            margin-left: 10px;

            font-size: 35px;
        }

        .laiks
        {
            display: flex;
            margin-left: 10px;

            font-size: 28px;
            font-style: italic;
        }

        .kabinets
        {
            display: flex;
            margin-left: 10px;
            
            font-size: 25px;
        }

        .statuss
        {
            
            font-size: 30px;
            font-weight: bold;
            font-style: italic;
        }

        .footer
        {
            display: flex;
            
            .timestamp
            {
                font-size: 30px;
            }
            
            .footerPoga
            {
                margin-left: 10px;
                
                background-color: $light_gray;
                border: none;
            }

            .editLink
            {

                padding: 10px;
                padding-left: 15px;
                padding-right: 18px;

                margin-left: 15px;
                margin-right: 15px;

                text-decoration: none;
                font-style: italic;
                font-size: 20px;
                color: white;
            
                border:none;

                background-color: $blue;
            }

            .editLink:hover
            {
                background-color: $light_blue;
            }
        }
    }

    .loading
    {
        display: flex;
        justify-content: center;
        margin: auto;
    }


    .pievienotLink
{
    margin: 30px;

    text-decoration: none;
    font-style: italic;
    font-size: 30px;
    color: white;

    border:none;
    padding: 20px;
    background-color: $blue;
}

.pievienotLink:hover{
    background-color: $light_blue;
}

}

hr
{
    width: 100%;
    height: 1px; 

    border: 0;   
    background-color:$blue;
}

