.editFields
{
    display:flex;
    flex-direction: column;
    width: 100%;
    justify-content:center;
    align-items: center;

    .virsraksts
    {
        margin-bottom: 40px;
    }

    .textInput
    {
        border: none;
        width: 40%;
        height: 40px;
        font-size: 30px;
        margin: 10px;
        font-family: inherit;
    }

    .textareaInput
    {
        width: 40%;
        height: 400px;
        margin: 10px;
    }

    .buttonLabot
    {
        padding: 16px 32px;
        margin-bottom: 10px;
        width: 40%;
    }

    .buttonPievienot
    {
        padding: 16px 32px;
        width: 40%;
        margin-bottom: 20px;
    }

    .buttonDzest
    {
        padding: 16px 32px;
        width: 40%;
    }
    .errorMsg
    {
        margin: 5px;
    }
}
