.miniDisplay
{
    display: flex;
    flex-direction: row;

    .virsraksts {
        margin-top: 10px;
        font-size: 40px;
    }

    .miniPazinojumi
    {
        display: flex;
        flex-direction: column;
        float: left;
        width: 50%;
    }

    .miniLekcijas
    {
        display: flex;
        flex-direction: column;
        float: left;
        width: 50%;
    }
}

hr{
    width: 95%;
}
