@media screen and (min-width: 768px)
{
    .addPage
    {
        width: 100%;
        display:flex;
        justify-content:center;
        align-items: center;
        flex-direction: column;

        .selectBox
        {
            width: 40%;
            margin-bottom: 40px;
            padding: 5px;
            height: 50px;

        }

        .ievade
        {
            width: 100%;
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 768px) 
{
    .addPage
    {
        width: 100%;
        display:flex;
        justify-content:center;
        flex-direction: column;
        text-align: center;

        .selectBox
        {
            width: 80%;
            margin: auto;
            margin-top: 0px;
            margin-bottom: 40px;
            padding: 5px;
            height: 50px;

        }

        .ievade
        {
            width: 100%;
        }
    }
}
