@media screen and (min-width: 768px)
{
    .viewPage
    {
        display: flex;
        flex-direction: column;
        margin: 20px;
        width: 100%;

        .virsrakstsDiv
        {
            display: flex;
            justify-content: center;

            .virsraksts
            {
                margin-top: 30px;
                margin-right: 200px;
            }
        }

        .navRez
        {
            margin-top: 50px;

            font-size: 50px;
            font-style: italic;
            text-align: center;
        }

        .searchSection
        {
            display: flex;
            justify-content: space-around;

            .textInput
            {
                width: 100%;
                height: 50px;
            }

            .buttonPievienot
            {
                margin-left: 30px;
                padding: 10px;
                padding-left: 30px;
                padding-right: 30px;
            }

            .cancelSearch
            {
                border: none;
                background-color: #E9E9E9;
            }
        }

        .info
        {
            display: flex;
            flex-direction: column;
            margin-bottom: 30px;
            
            .nosaukums
            {
                display: flex;
                margin-bottom: 30px;
            }
            
            .apraksts
            {
                display: flex;
                margin-bottom: 30px;
            }

            .autors
            {
                display: flex;
                margin-bottom: 20px;
                margin-left: 15px;
            }

            .datums
            {
                display: flex;
                margin-left: 10px;
            }

            .laiks
            {
                display: flex;
                margin-left: 10px;
            }

            .kabinets
            {
                display: flex;
                margin-left: 10px;
            }

            .footer
            {
                display: flex;
                
                .footerPoga
                {
                    margin-left: 10px;
                }

                .editLink
                {
                    padding: 10px;
                    padding-left: 15px;
                    padding-right: 18px;

                    margin-left: 15px;
                    margin-right: 15px;
                }
            }
        }

        .loading
        {
            display: flex;
            justify-content: center;
            margin: auto;
        }

        .pievienotLink
        {
            margin: 30px;
        }
    }

    hr
    {
        width: 100%;
        height: 1px; 
    }
}

@media screen and (min-width: 320px) and (max-width: 768px) 
{
    .viewPage
    {
        display: flex;
        flex-direction: column;
        margin: 10px;
        width: 100%;

        .virsrakstsDiv
        {
            display: flex;
            flex-direction:column;
            text-align:center;

            .virsraksts
            {
                margin: auto;
                margin-top: 30px;
                margin-bottom: 30px;
            }

            .pievienotLink
            {
                justify-content: center;
                margin:auto;
                margin-bottom: 30px;

                
                height: 40px;
                width: 80%;
            }
        }

        .navRez
        {
            margin: auto;
            margin-top: 20px;
            width: 80%;

            text-align: center;
            font-size: 30px;
            font-style: italic;
        }

        .searchSection
        {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            text-align: center;

            .textInput
            {
                width: 80%;
                padding: 10px;
                margin: auto;
                height: 50px;
            }

            .buttonPievienot
            {
                width: 80%;
                padding: 10px;
                padding-left: 30px;
                padding-right: 30px;
                
                margin: auto;
                margin-top: 10px;
            }

            .cancelSearch
            {
                width: 80%;
                margin:auto;
                margin-top: 10px;

                border: none;
                background-color: #E9E9E9;
            }
        }

        .info
        {
            display: flex;
            flex-direction: column;
            margin-bottom: 30px;
            width: 80%;
            text-align: center;

            .nosaukums
            {
                display: flex;
                margin-bottom: 30px;
            }
            
            .apraksts
            {
                display: flex;
                margin-bottom: 30px;
            }

            .autors
            {
                margin-bottom: 20px;
            }

            .datums
            {
                display: flex;
            }

            .laiks
            {
                display: flex;
            }

            .kabinets
            {
                display: flex;
            }

            .footer
            {
                display: flex;
                flex-direction: column;
                text-align: center;
                
                .footerPoga
                {
                    margin: auto;
                    margin-bottom: 10px;
                    margin-top: 10px;

                }

                .editLink
                {
                    padding: 10px;
                    padding-left: 40px;
                    padding-right: 40px;

                    margin: auto;
                    margin-bottom: 10px;
                }
            }
        }

        .loading
        {
            display: flex;
            justify-content: center;
            margin: auto;
        }
    }

    hr
    {
        width: 100%;
        height: 1px; 
    }
}
