$light_blue: #99D3DF;
$blue: #88BBD6;
$gray: #CDCDCD;
$light_gray : #E9E9E9; 


.virsraksts
{
    margin-top: 30px;
    margin-right: 200px;

    font-style: italic;
    font-size: 50px;
    color: rgb(121, 114, 114);
    text-align: center;

}

.virsrakstsPievienot
{
    display: flex;
    justify-content: center;
}

.pievienotLink
{
    margin: 30px;

    text-decoration: none;
    font-style: italic;
    font-size: 30px;
    color: white;

    border:none;
    padding: 20px;
    background-color: $blue;
}

.pievienotLink:hover{
    background-color: $light_blue;
}

.posts
{
    display: flex;
    flex-direction: column;
    margin: 20px;
    .aktNosaukums
    {
        font-style: bold;
        font-size: 40px;
        font-family: 'Times New Roman', Times, serif;

    }
    
    .aktApraksts
    {
        margin: 20px;
        font-size: 25px;
        color: rgb(59, 54, 54);
    }

    .aktAutors
    {
        margin-left: 20px;
        font-size: 23px;
        font-style: italic;
        font-family: 'Times New Roman', Times, serif;
        
    }

    .aktDatums
    {
        margin: 20px;
        font-size: 20px;
    }

    .aktFooter
    {
        display: flex;
        
        .footerPoga
        {
            background-color: $light_gray;
            border: none;
            margin-left: 10px;
        }
    }
}

hr
{
    border: 0;
    width: 100%;               
    background-color:$blue;
    height: 1px;
}

.loading
{
    display: flex;
    justify-content: center;
    margin: auto;
}

