$light_blue: #99D3DF;
$blue: #88BBD6;
$gray: #CDCDCD;
$light_gray : #E9E9E9; 


.pievienotForma
{
    width: 100%;
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;

    .selectBox
    {
        width: 40%;
        margin-bottom: 50px;
        padding: 5px;
        height: 50px;

        background: $gray;

        font-size: 25px;
        border: none;

    }

    .ievade
    {
        width: 100%;
    }

}

