.pazinojumsForma
{
    display:flex;
    flex-direction: column;
    width: 100%;
    justify-content:center;
    align-items: center;

    .virsraksts
    {
        margin-bottom: 40px;
    }

    .textInput
    {
        width: 40%;
        height: 40px;
        margin: 10px;
    }

    .textareaInput
    {
        width: 40%;
        height: 400px;
        margin: 10px;
    }

    .buttonPievienot
    {
        padding: 16px 32px;
        width: 40%;
    }

    .errorMsg
    {
        margin: 5px;
    }
}
