$light_blue: #99D3DF;
$blue: #88BBD6;
$gray: #CDCDCD;
$light_gray : #E9E9E9;

.virsraksts
{
font-style: italic;
font-size: 50px;
color: rgb(121, 114, 114);
text-align: center;
}


.nosaukums
{
font-style: bold;
font-size: 40px;
font-family: 'Times New Roman', Times, serif;
}

.apraksts
{
font-size: 25px;
color: rgb(59, 54, 54);
}

.autors
{
font-size: 23px;
font-style: italic;
font-family: 'Times New Roman', Times, serif;

}

.datums
{
font-size: 35px;
}

.laiks
{
font-size: 28px;
font-style: italic;
}

.kabinets
{
font-size: 25px;
}

.statuss
{

font-size: 30px;
font-weight: bold;
font-style: italic;
}
           
.timestamp
{
    font-size: 30px;
}

.footerPoga
{
    background-color: $light_gray;
    border: none;
}

.editLink
{
    text-decoration: none;
    font-style: italic;
    font-size: 20px;
    color: white;

    border:none;

    background-color: $blue;
}

.editLink:hover
{
    background-color: $light_blue;
}

.pievienotLink
{
    text-decoration: none;
    font-style: italic;
    font-size: 30px;
    color: white;

    border:none;
    padding: 20px;
    background-color: $blue;
}

.pievienotLink:hover{
    background-color: $light_blue;
}

.selectBox
{
    width: 40%;
    margin-bottom: 50px;
    padding: 5px;
    height: 50px;

    background: $gray;

    font-size: 25px;
    border: none;

}

.datumsInput
{
    background: $gray;

    font-size: 25px;
    text-align: center;
    border: none;
}

.laiksInput
{
    background: $gray;

    font-size: 25px;
    text-align: center;
    border: none;
}

.buttonPievienot
{
    background-color: $blue;
    border: none;
    color: white;
    font-size: 20px;
}

.errorMsg
{
    font-size: 20px;
    text-align: center;
    color: red;

}

.buttonDzest
{
    background-color: rgb(158, 17, 17);
    border: none;
    color: white;
    font-size: 20px;

}

.buttonDzest:hover{
    background-color: rgb(167, 57, 57);
    
}

hr
{
    border: 0;   
    background-color:$blue;
}
